{% extends "index.html" %}

{% block title %}Add Patient{% endblock %}

{% block content %}
<div class="form-container">
    <h3>Add Patient</h3>
    <form method="POST">
        <div class="form-group">
            <label>First Name</label>
            <input type="text" name="first_name" required>
        </div>

        <div class="form-group">
            <label>Middle Name</label>
            <input type="text" name="middle_name">
        </div>

        <div class="form-group">
            <label>Last Name</label>
            <input type="text" name="last_name" required>
        </div>

        <div class="form-group">
            <label>Gender</label>
            <select name="gender">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
        </div>

        <div class="form-group">
            <label>Date of Birth</label>
            <input type="date" name="dob">
        </div>

        <div class="form-group">
            <label>Age</label>
            <input type="number" name="age">
        </div>

        <div class="form-group">
            <label>Contact No.</label>
            <input type="text" name="contact_no">
        </div>

        <div class="form-group">
            <label>Address</label>
            <textarea name="address"></textarea>
        </div>

        <div class="form-actions">
            <button type="submit" class="btn btn-save">Save Patient</button>
            <a href="{{ url_for('main.dashboard') }}" class="btn btn-delete">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}